@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #0041f2;
    --backcolor: #ffffff;
    --backcolor1: #f2f3f2;
}
body{
  background-color:var(--backcolor);
  height: 100vh;
  font-family: "Tajawal" sans-serif;
  color: var(--main-color);
 

}
/* ------------------ nav start
                     ----------------------
*/
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .68em;
}
header nav .logo{
    display: flex;
    align-items: center;
    gap: .15em;
    font-size: 5em;
    font-weight: 600;
    color:var(--main-color) ;
    text-decoration: none;
}
/* ----------------- meun ---------------------- */
nav ul{
    display: flex;
    list-style: none;
    gap: 3em;
    padding: .65em 1em;
    margin: auto; 
}
nav ul li a{
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: var(--main-color);
    position: relative;
}
nav ul li a::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 3px;
    background-color: #1a93bd;
    transition: .5s;
}
nav ul li a:hover::before{
    width: 100%;
}
/* ---------------------- nav end -----------------------*/
/* ------------------- ---------------------------------*/
/* ----------------tittle ---------------------------- */
.tittle{
    height: 100vh;
    margin-top: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .tittle .contener{
    width: 45%;
    padding: 8% 3%;
    margin-left:6%;
}
.tittle .contener strong{
    font-size: 1.8rem;
    font-weight: 500;
    animation-delay: .60s;
}
.tittle .contener h1{
         font-family: "Noto Kufi Arabic", sans-serif;
        font-size:2.5rem ;
        font-weight: 500;
        margin-top: .99rem;
        padding-right: 15rem;
        color: #013ca2;
        animation-delay: .80s;
}
 .contener .imag-m{
    display: none;
   
}
.tittle .contener p{
    font-size: 2rem;
    margin: 2rem 0;
    padding: .65em 1em;
    
    animation-delay: 1s;
}
.tittle .contener .link{
    background-image: linear-gradient(40deg, #1a93bd,#c9ccc5 );
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position-x: left;
    transition: .5s ease;
    border:1px solid #234;
    padding: .87rem 5.3rem;
    text-decoration: none;
    font-size: 2rem;
    color: #013ca2;
    border-radius: 25px;
    border-top-right-radius: 0;
    animation-delay: 1.5s;
}
.tittle .contener .link:hover{
    background-size: 100% 100%;
    border-top-right-radius: 25px;
}
.tittle img{
    position: absolute;
    bottom:20%;
    left:15%;
    animation-delay: 2s;
}
/* ------------------ icons ------------------------- */
.tittle .socail-icon{
    display: flex;
    gap: 2em;
}
.tittle .socail-icon a{
    text-decoration: none;
    text-align: center;
    margin-top: 1.5em;
    font-size: 3.5em;
    animation-delay: 1.8s;
}
/* -------------------- ainmation for header-------------------------------- */
/* .ani{
    opacity: 0;
    animation: move .5s linear forwards;
    transform: translatex(30px);
}
@keyframes move{
    100%{
        opacity: 1;
        transform: translatex(0);
    }
} */

/* ------------ about ------------------------------- */
section{
    margin: .65rem 3.5rem;
    padding:0 2rem;
}
.about h3{
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.5rem;
}
.about .info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.about .info p{
    width: 50%;
    padding:.85 1.5em;
    font-size: 2.5em;
}
.about .info .m{
    width: 35.45em;
}
.about .info .m img{
    width: 100%;
}

/* ------------------ projects ---------------------- */
.projects h4{
    font-size: 3.5em;
    text-align: center;
}
/* -------------------------------------------------------- */
.contact h3{
    text-align: center;
    margin-bottom: 1em;
    font-size: 3em;
    color: #0041f2;
}
.contact-container{
    width: 35.23em;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0,0, 0.1);
}

.contact .input-group{
    margin-bottom: 15px;
}
.input-group label{
    display: block;
    font-size: 1.5em;
    margin-bottom: 5px;
}
.input-group input ,.input-group textarea{
    width: 100%;
    padding:5px 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
}
.contact .btn{
    width: 100%;
    padding: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;

}

/* ------------------ media mobel ------------------- */
@media screen and (max-width:767px){

    /* header{
    min-height: 100vh;
    } */
    header nav{
        width: 100%;
        margin: 0;
        border-radius: 0;
        
    }
    header nav .logo{
    font-size: 2em;
    color: #013ca2;
}
    nav ul{
        display: none;
        
    }
    .tittle{
       display: flex;
       flex-direction: column;
       
    }
    .tittle .contener{
        width: 85%;
        padding: 5px;
        margin-right:15px ;
        margin-top: 20px;
    }
    .tittle .contener h1{
        
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 1rem;
        }
    
    .tittle .contener p{
        font-size: 1.3rem;
    }
    .tittle .contener .link{
        display: inline-block;
        padding: .50rem 5rem;
        align-items: center;
    }
    .tittle img{
       display: none;
    }
    .contener .imag-m{
        display: block;
        
        
    }
    /* ----------------- about me ------------------------- */
    .about h3{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2.5rem;
}
.about .info{
    
    display: flex;
    flex-direction: column;
    
    
    
}
.about .info .i{
    
    border: none;
    padding: 15px;
    border-radius: 0;
    font-size: 1em;
    border-top-left-radius: 0;
    width: 25.23em;
}
.about .info p{
    font-size: 15px;
}
.info .m img{
    display: none;
}
}



