*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: #00ff2250;
  width: 100%;
  height: 100vh;
 

}
/* ------------------ nav start
                     ----------------------
*/
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin:auto;
    padding: 0 1.5rem;
    background-color: beige; 
    border-radius: 25px;
}
header nav h1{
    font-size: 3.5rem;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}
nav ul{
    list-style: none;
    width: 50%;
    margin: 1rem;
}
nav ul li{
    display:inline-flex;
    margin-left: 10%;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.9rem;
    font-weight: 500;
    font-family:  Courier;
    color: #90c28e;
     position: relative;
}
nav ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 3px;
    background-color: #43cc0d;
    transition: .5s;
}
nav ul li a:hover::before{
    width: 100%;
}
nav .but{
    background-image:linear-gradient(40deg, #384d31,#234);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    border: 1px solid #aacef1;
    border-radius: 15px;
    padding: .55rem 4rem;
     text-decoration: none;
    font-size: 1.5rem;
    color: #06cfb4;
    border-top-right-radius: 0;
    transition: .5s;
}
nav .but:hover{
    background-size: 100% 100%;
    border-top-right-radius: 15px;
}
/* ---------------------- nav end -----------------------*/
/* ------------------- ---------------------------------*/
.contener{
    
    margin-top: 3rem;
}
.contener .tittle{
    width: 45%;
    padding: 8% 3%;
    margin-left:6%;
}
.contener .tittle h1{
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: capitalize;
    animation-delay: .80s;
}
.contener .tittle h1 span{
    font-size:3rem ;
        margin-top: .99rem;
        padding-left: 8rem;
        color: #25700c;
        animation-delay: .50s;
}
.contener .tittle img{
    display: none;
}
.contener .tittle p{
    font-size: 2rem;
    margin: 2rem;
    letter-spacing: 1px;
    animation-delay: 1s;
}
.contener .tittle .link{
    display: inline-block;
    background-image: linear-gradient(40deg, #384d31,#234 );
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position-x: left;
    transition: .5s ease;
    border:1px solid #234;
    padding: .87rem 5.3rem;
    text-decoration: none;
    font-size: 2rem;
    color: #06cfb4;
    border-radius: 25px;
    border-top-right-radius: 0;
    animation-delay: 1.5s;
}
.contener .imag{
    position: absolute;
    top: 180px;
    left: 65%;
}
.ani{
    opacity: 0;
    animation: move .5s linear forwards;
    transform: translateX(-30px);
}
@keyframes move{
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.contener .tittle .link:hover{
    background-size: 100% 100%;
    border-top-right-radius: 25px;
     
    
}
/* ------------ about ------------------------------- */
section{
    
    margin: 1rem 3.5rem;
    padding: 2rem;
}
.about h3{
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 4rem;
}
.about .info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about .info .i{
    width: 50%;
    border: 2px solid #123;
    padding: 5em;
    border-radius: 15px;
    font-size: 1.5em;
    border-top-left-radius: 300px;
}
/* ------------------ projects ---------------------- */
.projects h4{
    font-size: 3.5em;
    text-align: center;
}

/* ------------------ media mobel ------------------- */
@media screen and (max-width:767px) {
    body{
        width: 100%;
    }
    header{
    min-height: 100vh;
    }
    header nav{
        width: 100%;
        margin: 0;
        border-radius: 0;
        
    }
    header nav h1{
        font-size: 1.5em;
        
    }
    nav ul{
        display: none;

        
    }
    nav .but{
        padding: .25rem 2rem;
        font-size: 1rem;
        margin: 3px;
    }
    .contener{
        display: flex;
        flex-direction: column;
    }
    .contener .tittle{
        width: 100vw;
        padding: 5px;
        margin-left:15px ;
        margin-top: 20px;
    }
    .contener .tittle h1{
        font-size: 1rem;
        margin-left: 8px;
        & span{
            display: inline-block;
            font-size: 1.5rem;
            padding-left: 2rem;
            margin-top: 1rem;
        }
    }
    .contener .tittle p{
        font-size: 1.5rem;
    }
    .contener .tittle .link{
        padding: .50rem 2.3rem;
    }
    .contener .imag{
       display: none;
    }
    .contener .tittle img{
        display: block;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        margin: 3rem;
        margin: auto;
    }
    /* ----------------- about me ------------------------- */
    .about h3{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2.5rem;
}
.about .info{
    
    display: flex;
    flex-direction: column;
    
    
    
}
.about .info .i{
    
    border: none;
    padding: 15px;
    border-radius: 0;
    font-size: 1em;
    border-top-left-radius: 0;
    width: 25.23em;
}
.about .info p{
    font-size: 15px;
}
.info .m img{
    display: none;
}
section{
    
    margin: .60rem;
    padding: 0;
}

    
    
}
